<section fxLayout="row" fxLayout.xs="column">
	<div class="left-panel" fxHide="true" fxShow.gt-sm>
		<div class="cover"></div>
	</div>
	<div class="right-panel" fxLayoutAlign="center center">
		<mat-card class="form-container">
			<mat-card-header>
				<mat-card-title><h3>Login</h3></mat-card-title>
				<mat-card-subtitle><h5>Login and enjoy our services</h5></mat-card-subtitle>
			</mat-card-header>
			<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
				<mat-card-content>
					<div fxLayout="column" class="form-container-inputs">
						<mat-form-field appearance="outline">
							<mat-label>Username</mat-label>
							<input
								formControlName="user_name"
								matInput>
							<mat-icon matSuffix>person</mat-icon>
							<mat-error>
								This field is required
							</mat-error>
						</mat-form-field>
						<mat-form-field  appearance="outline">
							<mat-label>Password</mat-label>
							<input
								formControlName="password"
								matInput
								[type]="'hide' ? 'password': 'text'">
							<mat-icon matSuffix>lock</mat-icon>
							<mat-error>
								This field is required
							</mat-error>
						</mat-form-field>
						<div fxLayout="row wrap">
							<div>
								<a mat-button routerLink="/register">Sign up here</a>
							</div>
							<div class="register-btn">
								<button mat-raised-button color="primary" matRipple>
									Login
									<mat-icon matSuffix>send</mat-icon>
								</button>
							</div>
						</div>
					</div>
				</mat-card-content>
			</form>
		</mat-card>
	</div>
</section>

