<h2 mat-dialog-title>{{data.client}}</h2><hr>
<mat-dialog-content>
	<p>Client ID : {{data.user_id}}</p>
	<p>Client Name : {{data.client}}</p>
	<p>Mobile Contact : {{data.client_contact}}</p>
	<p>Email : {{data.client_email}}</p>
	<p>Order Placed : {{data.order_item}}</p>
	<p>Order Placed : {{data.order_item}}</p>
	<p>Order Notes : {{data.special_notes}}</p>
	<p>Order Cost : {{data.order_cost}}</p>
	<p>Order Status : {{data.order_status}}</p>
	<p>Order Date : {{data.order_date}}</p>
</mat-dialog-content>
<mat-dialog-actions align="center">
	<button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
