section {
	width: 100%;
	height: 100vh;
}
.left-panel {
	width: 100%;
	height: 100%;
	background: url('../../../assets/images/sheldon-nunes.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 30% 0px;
}

.right-panel {
	position: relative;
	width: 100%;
	height: 100%;
	/*background: #ffffff;*/
	background: rgba(240, 255, 255, 0.41);
}

.cover {
	width: 100%;
	height: 100%;
	background: rgba(37, 37, 37, 0.8);
}

.form-container {
	width: 70%;
}

.form-container-inputs {
	width: 100%;
}

.form-container-inputs-password {
	margin-left: auto;
}

.register-btn {
	margin-left: auto;
}
