<section fxLayout="row" fxLayout.xs="column">
	<div class="left-panel" fxHide="true" fxShow.gt-sm>
		<div class="cover"></div>
	</div>
	<div class="right-panel" fxLayoutAlign="center center">
		<mat-card class="form-container">
			<mat-card-header>
				<mat-card-title><h3>Sign up</h3></mat-card-title>
				<mat-card-subtitle><h5>Register with us today</h5></mat-card-subtitle>
			</mat-card-header>
			<form>
				<mat-card-content>
					<div fxLayout="column" class="form-container-inputs">
						<mat-form-field appearance="outline">
							<mat-label>Username</mat-label>
							<input matInput>
							<mat-icon matSuffix>person</mat-icon>
						</mat-form-field>

						<mat-form-field appearance="outline">
							<mat-label>Email</mat-label>
							<mat-icon matSuffix>mail</mat-icon>
							<input matInput>
						</mat-form-field>

						<mat-form-field appearance="outline">
							<mat-label>Contact</mat-label>
							<mat-icon matSuffix>phone</mat-icon>
							<input matInput>
						</mat-form-field>

						<mat-form-field appearance="outline">
							<mat-label>Password</mat-label>
							<input matInput>
							<mat-icon matSuffix>lock</mat-icon>
						</mat-form-field>

						<mat-form-field appearance="outline">
							<mat-label>Confirm Password</mat-label>
							<input matInput [type]="hide ? 'password': 'text'">
							<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off': 'visibility'}}</mat-icon>
						</mat-form-field>

						<div fxLayout="row wrap">
							<div>
								<a mat-button routerLink="/">Already registered? Login</a>
							</div>
							<div class="register-btn">
								<button mat-raised-button color="primary" matRipple>
									Register
									<mat-icon matSuffix>send</mat-icon>
								</button>
							</div>
						</div>
					</div>
				</mat-card-content>
			</form>
		</mat-card>
	</div>
</section>

