.page-header {
	padding-right: 2rem;
	padding-top: 5rem;
}

.mat-title-met {
	font: 400 29px/32px Roboto, 'Helvetica Neue', sans-serif;
	padding-left: 1%;
}

.place-order {
	margin-left: auto;
	background-color: var(--accent-color-info);
	border-radius: 2.4rem;
	padding-right: 2.4rem;
	padding-left: 2.4rem;
	height: 70%;
	text-transform: uppercase;
	color: #fff;
}

.place-order-sm {
	margin-left: 80vw;
	margin-top: 75vh;
	background-color: var(--accent-color-info);
	color: #fff;
	position: fixed;
}

table {
	width: 95%;
	margin: auto;
}

.mat-row:hover {
	background-color: #828282;
}

.mat-cell:hover {
	color: white;
}
