.page-header {
	padding-right: 2rem;
	padding-top: 5rem;
}

.mat-title-met {
	font: 400 29px/32px Roboto, 'Helvetica Neue', sans-serif;
	padding-left: 1%;
}

.place-order {
	margin-left: auto;
	background-color: var(--accent-color-info);
	border-radius: 2.4rem;
	padding-right: 2.4rem;
	padding-left: 2.4rem;
	height: 70%;
	text-transform: uppercase;
	color: #fff;
}
