.page-header {
	padding-right: 2rem;
	padding-top: 5rem;
}

.mat-title-met {
	font: 400 29px/32px Roboto, 'Helvetica Neue', sans-serif;
	padding-left: 1%;
}

.place-order {
	margin-left: auto;
	background-color: var(--accent-color-info);
	border-radius: 2.4rem;
	padding-right: 1rem;
	padding-left: 1rem;
	height: 60%;
	text-transform: uppercase;
	color: #fff;
}

.add-menu {
	left: 1%;
	background-color: var(--accent-color-info);
	border-radius: 2.4rem;
	padding-right: 1.4rem;
	padding-left: 1.4rem;
	height: 60%;
	text-transform: uppercase;
	color: #fff;
}

.place-order-sm {
	margin-left: 75vw;
	margin-top: 70vh;
	background-color: var(--accent-color-info);
	color: #fff;
	z-index: 5;
	position: fixed;
}
